node_modules
.next
coverage
.nyc_output
instrumented
cypress/videos
.env
cypress/screenshots
cypress/downloads
out
mochawesome-report
cypress/report
# Local Netlify folder
.netlify
yarn-error.log

# package manager
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.local